<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-05-13T04:40:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/imchan-yang/c++(x)/Week10/Week10.xcodeproj</string>
</dict>
</plist>
